<div class="container animated fadeIn" style="padding-top: 100px;">

    <app-loading *ngIf="loading"></app-loading>

    <div class="row" *ngIf="!loading">
        <div class="col-2 vertical-align">
            <img [src]="artist.images | noimage" class="img-thumbnail img-circle">
        </div>
        <div class="col vertical-align">
            <h3>{{artist.name}}</h3>
            <p>
                <a [href]="artist.external_urls.spotify" class="spoty-color">Go to the Artist page.</a>
            </p>
        </div>
        <div class="col-4 text-right vertical-align">
            <button routerLink="/search" class="btn btn-outline-success">Back</button>
        </div>

    </div>

    <div class="row" style="margin-top: 50px;" *ngIf="!loading">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="spoty-color">Photo</th>
                        <th scope="col" class="spoty-color">Album</th>
                        <th scope="col" class="spoty-color">Song</th>
                        <th scope="col" class="spoty-color">Track</th>
                        <th scope="col" class="spoty-color">Preview</th>
                    </tr>

                </thead>

                <tbody>
                    <tr *ngFor="let t of artistTopTracks">
                        <td scope="col">
                            <img [src]="t.album.images | noimage" class="img-thumb" />
                        </td>
                        <td scope="col" class="spoty-color">{{t.album.name}}</td>
                        <td scope="col" class="spoty-color">{{t.name}}</td>
                        <th scope="col" class="spoty-color">{{t.track_number}}</th>
                        <td scope="col" class="spoty-color">
                            <audio [src]="t.preview_url" controls></audio>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>